{% extends 'Presentation/base.html' %}
{% block title %}
    About - Presentation
{% endblock %}
{% block body %}
    <div class="container">
        <main>
            <div class="row mb-4">
                <div class="col-md-8">
                    <h2 class="h4">Our Story</h2>
                    <p>Welcome to Our Company! We are dedicated to providing the best services to our customers. Our journey began in 2023 with a mission to deliver high-quality products that bring value to our clients.</p>
                </div>
                <div class="col-md-4">
                    <h2 class="h4">Our Mission</h2>
                    <p>Our mission is to deliver high-quality products that bring value to our clients. We strive to exceed customer expectations through continuous improvement and customer interaction.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="h4">Our Team</h2>
                    <p>Our team is dedicated to making your experience memorable. From our talented professionals to our friendly support staff, everyone plays a crucial role in delivering the best service possible.</p>
                </div>
                <div class="col-md-6">
                    <h2 class="h4">Our Values</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Quality: We use only the best practices to deliver our services.</li>
                        <li class="list-group-item">Service: We strive to provide excellent customer service.</li>
                        <li class="list-group-item">Integrity: We are committed to maintaining the highest ethical standards.</li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
