{% extends 'Presentation/base.html' %}
{% block title %}
    Home - Presentation
{% endblock %}
{% block body %}
    <div class="container">
        <main>
            <div class="row">
                <div class="col-md-8">
                    <h2 class="h4">Main Content</h2>
                    <p>This is the main content area.</p>
                </div>
                <div class="col-md-4">
                    <h2 class="h4">Sidebar</h2>
                    <p>This is the sidebar content.</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
